* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #000000DE;
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.btn {
    color:rgba(0, 0, 0, 0.8);
    margin: 15px 4px;
}

.btn:hover {
    background-color: rgba(173, 181, 189, 0.1);
    border-color: rgba(173, 181, 189, 0.5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15)
}

header {
    font-size:small;
}

#images {
    color: #4285F4;
    position: relative;
    left: 105px;
    bottom: 20px;
    width: 100px;
}

#input-bar {
    height: 34px;
    position: relative;
    bottom: 22px;
    margin-left: 26px;
    max-width: 90%;
}

#logo {
    margin: auto;
    margin-top: 12%;
}

#logo.img {
    margin-bottom: -18px;
}

#magni-glass {
    position: relative;
    right: 47%;
    top: 47%;
    padding: 11px;
    background-image: url("search_icon.png");
    background-repeat: no-repeat;
    background-size: 15px;
}

#search-bar { 
    height: 46px;
    max-width: 582px;
    margin: auto;
    padding: 3px 5px 0px 10px;
    border-color: rgb(0, 0, 0);
}

#search-bar:focus {
    box-shadow: none;
}

#search-bar:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

#search-bar:active {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

#search-btns {
    height: 88px;
    padding-top: 18px;
}

#search-form {
    height: 160px;
    padding: 20px;
}
