* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #000000DE;
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.btn {
    color:rgba(0, 0, 0, 0.8);
    margin: 15px 4px;
}

.btn:hover {
    background-color: rgba(173, 181, 189, 0.1);
    border-color: rgba(173, 181, 189, 0.5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15)
}

header {
    font-size:small;
}

#images {
    color: #4285F4;
    position: relative;
    left: 105px;
    bottom: 20px;
    width: 100px;
}

#img-search {
    position: relative;
    left: 50%;
    bottom: 5px;
    height: 44px;
    width: 44px;
    padding-right: 13px;
    border: none;
    background-color: #ffffff00;
}

#input-bar {
    height: 34px;
    position: relative;
    bottom: 22px;
    margin-left: 26px;
    max-width: 90%;
}

#input-bar.images-form {
    bottom: 42px;
    max-width: 80%;
}

#logo {
    margin: auto;
    margin-top: 12%;
}

#logo.img {
    margin-bottom: -24px;
}

#magni-glass {
    position: relative;
    right: 47.8%;
    top: 6px;
    padding: 11px;
}

#magni-glass.images-form {
    top: -4px;
    right: 52%;
}

#magni-icon {
    object-fit: contain;
    width: 14.58px;
    height: 14.58px;
}

#search-bar { 
    height: 46px;
    max-width: 582px;
    margin: auto;
    padding: 3px 5px 0px 10px;
    border-color: rgb(0, 0, 0);
}

#search-form.images-form {
    height: 104px;
    padding: 26px;
}

#search-bar:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

#search-btns {
    height: 88px;
    padding-top: 18px;
}

#search-form {
    height: 160px;
    padding: 26px;
}

#srchbtn {
    object-fit: contain;
    width: 17.5px;
    height: 17.5px;
}
